# Backend Endpoints
VITE_ENDPOINT_USERS=http://localhost:3000/api/users
VITE_CRIAR_APONTAMENTO_GET=http://localhost:3000/api/apontamentos
VITE_CRIAR_APONTAMENTO_POST=http://localhost:3000/api/apontamentos

# Application
VITE_APP_NAME=Portal de Boletim de Ocorrências
VITE_APP_VERSION=1.0.0
